{
  "root": true,
  "env": {
    "node": true
  },
  "extends": "eslint:recommended",
  "rules": {
    "strict": "error",
    "callback-return": "warn",
    "global-require": "error",
    "new-cap": "warn",
    "new-parens": "warn",
    "indent": [
      "warn",
      2
    ],
    "linebreak-style": [
      "warn",
      "unix"
    ],
    "quotes": [
      "error",
      "single"
    ],
    "semi": [
      "error",
      "always"
    ],
    "no-console": "warn",
    "complexity": [
      2,
      10
    ],
    "max-statements": [
      2,
      30
    ]
  },
  "globals": {
    "Promise": true,
    "Symbol": true
  }
}
