language: node_js
node_js:
  - "0.10"
  - "0.12"
  - "4"
  - "6"
  - "8"
services: mongodb
env:
  - NODE_ENV=test
before_install:
  - npm install multer@^1.0.0
after_install:
  - ./test/legacy.sh
before_script:
  - sleep 15
after_script:
  - npm run coveralls
